{{ define "main" }}
<main class="main">
  <div class="post-list">
    {{ range .Pages.ByDate.Reverse }}
      <article class="post-entry">
        <header class="entry-header">
          <h2 class="entry-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>
        </header>

        {{ with .Params.summary }}
          <p class="entry-summary" style="margin: 0.3em 0 0.5em 0; color: #444; font-size: 0.9em;">
  {{ . }}
</p>
        {{ end }}

        <p style="font-size: 0.8em; color: #000000;">
          {{ .Date.Format "2006" }} | {{ .Params.authors }}
        </p>
      </article>
    {{ end }}
  </div>
</main>
{{ end }}

