{{ define "main" }}
<main class="main">
  <article class="single-post">

    <header class="post-header">
      <h1>{{ .Title }}</h1>

      <p style="font-size: 0.95em; color: #555; margin-top: 0.5em;">
        {{ .Date.Format "2006" }} | {{ .Params.authors }}{{ with .Params.journal }} | <a href="{{ $.Params.journal_url }}" target="_blank" rel="noopener">{{ . }}</a>{{ end }}
      </p>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>

  </article>
</main>
{{ end }}

